:root{
  --primary-dark: #C9514C;
  --primary: #EA625C;
  --text-color: #333;
}


/* GLOBAL */

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  height: 100%;
  background-color: #fff;
  color: var(--text-color);
}

img {
  height: auto;
  max-width: 100%;
}

*:focus{
  outline: 2px dashed var(--primary);
  outline-offset: 2px;
}
.container {
  width: 100%;
  max-width: 1100px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

.logo-img{
  display: block;
  object-fit: contain;
  width: 35px;
  height: 42px;
  cursor: pointer;
}
.logo-img:hover{
  opacity: 0.8;
}
.logo-img:active{
  opacity: 0.6;
}

.sitenav{
  display: flex;
  margin-left: 500px;
}

.container-header{
  display: flex;
  margin-right: auto;
  align-items: center;
}
.sitenav-list{
  list-style: none;
  display: flex;
}
.sitenav-list-link{
  text-decoration: none;
  padding-top: 6px;
  padding-bottom: 3px;
  border-bottom: 3px solid transparent;
  font-size: 15px;
  color: var(--text-color);
  transition: border-bottom 0.3s ease;
}
.sitenav-list-link:hover{
  border-bottom: 3px solid #333;
}
.sitenav-list-item:not(:last-child){
  margin-right: 30px;
}
.sitenav-divider{
  width: 153px;
}
.sitenav-help{
  margin-left: 40px;
  margin-top: 16px;
}
.sitenav-help-link{
  text-decoration: none;
  font-size: 15px;
  color: var(--text-color);
}
.search-form-input{
  border: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  border-bottom: 1px solid #333;
}
.hero {
  background-image: url(../img/intro-bg.jpg);
  background-repeat: no-repeat;
  background-position: left calc(50% + 550px) bottom;
  padding-top: 140px;
  padding-bottom: 185px;
  border-bottom: 2px solid #ddd;
}
.lead-cta {
  width: 100%;
  max-width: 490px;
}
.lead-cta-heading {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 50px;
  line-height: 1.2;
  color: #000;
}
.lead-cta-text {
  border-left: 3px solid #888;
  color: #777;
  margin-top: 0;
  margin-bottom: 30px;
  padding-left: 37px;
}
.lead-cta-white .lead-cta-heading{
  color: #fff;
}

.lead-cta-white .lead-cta-text{
  color: #fff;
  border-color: #fff;
}

.button {
  border: 0;
  display: inline-block;
  background-color: var(--primary);
  padding: 12px 38px;
  text-decoration: none;
  min-width: 260px;
  color: #fff;
  font-size: 18px;
  line-height: 150%;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  transition: 0.3s ease;
}
.button:hover{
  background-color: var(--primary-dark);
}
.button:active{
  opacity: 0.6;
}
.features {
  margin-top: 70px;
}
.features-list {
  padding: 0;
  display: flex;
  list-style: none;
}
.features-item {
  width: 280px;
  height: 253px;
}
.features-item:not(:last-child){
  margin-right: 80px;
}
.features-heading {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 1.5;
  font-weight: bold;
  text-transform: uppercase;
  color: #222;
}
.features-text {
  margin: 0;
  font-size: 15px;
  line-height: 1.6;
  color:#333;
  margin-bottom: 20px;
}
.features-divider{
  margin: 0;
  width: 8px;
  height: 8px;
  border: 0;
  margin: 0;
  background-color: #ddd;
  box-shadow: 16px 0 0 0 #ddd,
    32px 0 0 0 #ddd;
}
.learn-more {
  margin-top: 20px;
  align-items: center;
  display: flex;
}
.learn-more-link{
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--primary);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.6;
}
.learn-more-link::before{
  width: 40px;
  height: 3px;
  margin-right: 10px;
  background-color: var(--primary);
  content: "";
  transition: width 0.3s ease;
}
.learn-more-link:hover::before{
  width: 60px;
}

.promo {
  padding-top: 70px;
  padding-bottom: 70px;
}
.promo-container {
  display: flex;
  align-items: center;
}
.promo-lead-cta {
  margin-right: 110px;
}
.promo-img {
  width: 400px;
  height: 600px;
  object-fit: cover;
}

.runners {
  padding-top: 240px;
  padding-bottom: 240px;
  background-image: url(../img/runners1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
.runners-lead-cta {
  margin-left: auto;
}
















@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {7
      .hero{
        background-image: url(../img/intro-bg@2x.jpg);
      }

    }